<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/justin/Downloads/TitleTemplate (1).jpg</key>
	<data>
	Ym9va6wCAAAAAAQQMAAAAGUAhnZmYMhgwf7QYMUNjme4zDrqitE3LZsWszxlDiestAEA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAACQAAAAEBAABEb3dubG9hZHMA
	AAAVAAAAAQEAAFRpdGxlVGVtcGxhdGUgKDEpLmpwZwAAABAAAAABBgAABAAAABQAAAAk
	AAAAOAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAALTABQAAAAAACAAAAAQDAAC3wAUA
	AAAAAAgAAAAEAwAA3HhPAQAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEG5bFsBAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwQwc
	AAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAAQzA3NEJDRDMtQzk4RC0zMDJCLUI1RUMt
	Mzg4QTg3RkE0ODQ1GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAFgA
	AAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAJQBAAAA
	AAAAECAAABQBAAAAAAAAESAAAEgBAAAAAAAAEiAAACgBAAAAAAAAEyAAADgBAAAAAAAA
	ICAAAHQBAAAAAAAAMCAAAKABAAAAAAAAAcAAAPgAAAAAAAAAEcAAABQAAAAAAAAAEsAA
	AAgBAAAAAAAAENAAAKgBAAAAAAAA
	</data>
	<key>/Users/justin/Downloads/TitleTemplate (1).pdf</key>
	<data>
	Ym9va6wCAAAAAAQQMAAAAINOMqEhoam2ihw7hsn2QWmNn1NVhDx9dh1qyAghhII4tAEA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAACQAAAAEBAABEb3dubG9hZHMA
	AAAVAAAAAQEAAFRpdGxlVGVtcGxhdGUgKDEpLnBkZgAAABAAAAABBgAABAAAABQAAAAk
	AAAAOAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAALTABQAAAAAACAAAAAQDAAC3wAUA
	AAAAAAgAAAAEAwAA8HpPAQAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEG5bF73AAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwQwc
	AAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAAQzA3NEJDRDMtQzk4RC0zMDJCLUI1RUMt
	Mzg4QTg3RkE0ODQ1GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAFgA
	AAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAJQBAAAA
	AAAAECAAABQBAAAAAAAAESAAAEgBAAAAAAAAEiAAACgBAAAAAAAAEyAAADgBAAAAAAAA
	ICAAAHQBAAAAAAAAMCAAAKABAAAAAAAAAcAAAPgAAAAAAAAAEcAAABQAAAAAAAAAEsAA
	AAgBAAAAAAAAENAAAKgBAAAAAAAA
	</data>
	<key>/Users/justin/Downloads/TitleTemplate (4).pdf</key>
	<data>
	Ym9va6wCAAAAAAQQMAAAAP5zhafZsyDWPUwD0nsmoEXv2aU1hqndAhKVIanRv1WutAEA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAACQAAAAEBAABEb3dubG9hZHMA
	AAAVAAAAAQEAAFRpdGxlVGVtcGxhdGUgKDQpLnBkZgAAABAAAAABBgAABAAAABQAAAAk
	AAAAOAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAALTABQAAAAAACAAAAAQDAAC3wAUA
	AAAAAAgAAAAEAwAAs4FPAQAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEG5bGOOAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwQwc
	AAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAAQzA3NEJDRDMtQzk4RC0zMDJCLUI1RUMt
	Mzg4QTg3RkE0ODQ1GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAFgA
	AAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAJQBAAAA
	AAAAECAAABQBAAAAAAAAESAAAEgBAAAAAAAAEiAAACgBAAAAAAAAEyAAADgBAAAAAAAA
	ICAAAHQBAAAAAAAAMCAAAKABAAAAAAAAAcAAAPgAAAAAAAAAEcAAABQAAAAAAAAAEsAA
	AAgBAAAAAAAAENAAAKgBAAAAAAAA
	</data>
	<key>/Users/justin/Downloads/TitleTemplate.jpg</key>
	<data>
	Ym9va6gCAAAAAAQQMAAAAJdggAnf/QQVV8ZDKwniyfQ/IFSRIhHC6tzlA/ALzHt2sAEA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAACQAAAAEBAABEb3dubG9hZHMA
	AAARAAAAAQEAAFRpdGxlVGVtcGxhdGUuanBnAAAAEAAAAAEGAAAEAAAAFAAAACQAAAA4
	AAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAAtMAFAAAAAAAIAAAABAMAALfABQAAAAAA
	CAAAAAQDAABnb08BAAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQbls
	V0kAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACDBDBwAAAAI
	AAAAAAQAAEG3U4AqAAAAJAAAAAEBAABDMDc0QkNEMy1DOThELTMwMkItQjVFQy0zODhB
	ODdGQTQ4NDUYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAVAAAAAAA
	AAAFEAAArAAAAAAAAAAQEAAA1AAAAAAAAABAEAAAxAAAAAAAAAACIAAAkAEAAAAAAAAQ
	IAAAEAEAAAAAAAARIAAARAEAAAAAAAASIAAAJAEAAAAAAAATIAAANAEAAAAAAAAgIAAA
	cAEAAAAAAAAwIAAAnAEAAAAAAAABwAAA9AAAAAAAAAARwAAAFAAAAAAAAAASwAAABAEA
	AAAAAAAQ0AAApAEAAAAAAAA=
	</data>
	<key>/Users/justin/Downloads/TitleTemplate.pdf</key>
	<data>
	Ym9va6gCAAAAAAQQMAAAAGQkAebGjxWC5Ja3ngerQYQol6Eig/uZYryYplBBwZMNsAEA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAACQAAAAEBAABEb3dubG9hZHMA
	AAARAAAAAQEAAFRpdGxlVGVtcGxhdGUucGRmAAAAEAAAAAEGAAAEAAAAFAAAACQAAAA4
	AAAACAAAAAQDAAApEgIAAAAAAAgAAAAEAwAAtMAFAAAAAAAIAAAABAMAALfABQAAAAAA
	CAAAAAQDAAByeE8BAAAAABAAAAABBgAAbAAAAHwAAACMAAAAnAAAAAgAAAAABAAAQbls
	WkEAAAAYAAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAAAgAAAAAA
	AAAEAAAAAwMAAPUBAAAMAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAACDBDBwAAAAI
	AAAAAAQAAEG3U4AqAAAAJAAAAAEBAABDMDc0QkNEMy1DOThELTMwMkItQjVFQy0zODhB
	ODdGQTQ4NDUYAAAAAQIAAIEAAAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAA
	AAAAAAABBQAABAAAAAMDAAAACAAowAAAAP7///8BAAAAAAAAAA8AAAAEEAAAVAAAAAAA
	AAAFEAAArAAAAAAAAAAQEAAA1AAAAAAAAABAEAAAxAAAAAAAAAACIAAAkAEAAAAAAAAQ
	IAAAEAEAAAAAAAARIAAARAEAAAAAAAASIAAAJAEAAAAAAAATIAAANAEAAAAAAAAgIAAA
	cAEAAAAAAAAwIAAAnAEAAAAAAAABwAAA9AAAAAAAAAARwAAAFAAAAAAAAAASwAAABAEA
	AAAAAAAQ0AAApAEAAAAAAAA=
	</data>
	<key>/Users/justin/Downloads/titletemplate (2).pdf</key>
	<data>
	Ym9va6wCAAAAAAQQMAAAAD9ib/l4gwTW97ECLwW6IW5V424MdPuAY7IirjpPwMRatAEA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAACQAAAAEBAABEb3dubG9hZHMA
	AAAVAAAAAQEAAHRpdGxldGVtcGxhdGUgKDIpLnBkZgAAABAAAAABBgAABAAAABQAAAAk
	AAAAOAAAAAgAAAAEAwAAKRICAAAAAAAIAAAABAMAALTABQAAAAAACAAAAAQDAAC3wAUA
	AAAAAAgAAAAEAwAAvn9PAQAAAAAQAAAAAQYAAHAAAACAAAAAkAAAAKAAAAAIAAAAAAQA
	AEG5bGGFAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIA
	AAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwQwc
	AAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAAQzA3NEJDRDMtQzk4RC0zMDJCLUI1RUMt
	Mzg4QTg3RkE0ODQ1GAAAAAECAACBAAAAAQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEA
	AC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAAAAAAAAAPAAAABBAAAFgA
	AAAAAAAABRAAALAAAAAAAAAAEBAAANgAAAAAAAAAQBAAAMgAAAAAAAAAAiAAAJQBAAAA
	AAAAECAAABQBAAAAAAAAESAAAEgBAAAAAAAAEiAAACgBAAAAAAAAEyAAADgBAAAAAAAA
	ICAAAHQBAAAAAAAAMCAAAKABAAAAAAAAAcAAAPgAAAAAAAAAEcAAABQAAAAAAAAAEsAA
	AAgBAAAAAAAAENAAAKgBAAAAAAAA
	</data>
	<key>/Users/justin/Dropbox/courses/course_media_politics/propaganda/images/title_image.pdf</key>
	<data>
	Ym9va1QDAAAAAAQQMAAAAI8hszhw2aQQUI7HrAUTP/YYRPuktZ9j9mzrTc0zmDgzXAIA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAABwAAAAEBAABEcm9wYm94AAcA
	AAABAQAAY291cnNlcwAVAAAAAQEAAGNvdXJzZV9tZWRpYV9wb2xpdGljcwAAAAoAAAAB
	AQAAcHJvcGFnYW5kYQAABgAAAAEBAABpbWFnZXMAAA8AAAABAQAAdGl0bGVfaW1hZ2Uu
	cGRmACAAAAABBgAABAAAABQAAAAkAAAANAAAAEQAAABkAAAAeAAAAIgAAAAIAAAABAMA
	ACkSAgAAAAAACAAAAAQDAAC0wAUAAAAAAAgAAAAEAwAAogAGAAAAAAAIAAAABAMAAHj2
	fAAAAAAACAAAAAQDAAAHZn4AAAAAAAgAAAAEAwAAvhNQAQAAAAAIAAAABAMAAEsUUAEA
	AAAACAAAAAQDAAAYdlABAAAAACAAAAABBgAAyAAAANgAAADoAAAA+AAAAAgBAAAYAQAA
	KAEAADgBAAAIAAAAAAQAAEG5bcXmAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
	AAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAAAgwQwcAAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAAQzA3NEJDRDMt
	Qzk4RC0zMDJCLUI1RUMtMzg4QTg3RkE0ODQ1GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAA
	AAAAAAAPAAAABBAAAKAAAAAAAAAABRAAAEgBAAAAAAAAEBAAAIABAAAAAAAAQBAAAHAB
	AAAAAAAAAiAAADwCAAAAAAAAECAAALwBAAAAAAAAESAAAPABAAAAAAAAEiAAANABAAAA
	AAAAEyAAAOABAAAAAAAAICAAABwCAAAAAAAAMCAAAEgCAAAAAAAAAcAAAKABAAAAAAAA
	EcAAABQAAAAAAAAAEsAAALABAAAAAAAAENAAAFACAAAAAAAA
	</data>
	<key>/Users/justin/Dropbox/courses/course_media_politics/propaganda/stalin.mp4</key>
	<data>
	Ym9vaygDAAAAAAQQMAAAAOpgTHoJOZIu2ArfRIStUTglcg/xY4BlbFrlqadpuCepMAIA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAABwAAAAEBAABEcm9wYm94AAcA
	AAABAQAAY291cnNlcwAVAAAAAQEAAGNvdXJzZV9tZWRpYV9wb2xpdGljcwAAAAoAAAAB
	AQAAcHJvcGFnYW5kYQAACgAAAAEBAABzdGFsaW4ubXA0AAAcAAAAAQYAAAQAAAAUAAAA
	JAAAADQAAABEAAAAZAAAAHgAAAAIAAAABAMAACkSAgAAAAAACAAAAAQDAAC0wAUAAAAA
	AAgAAAAEAwAAogAGAAAAAAAIAAAABAMAAHj2fAAAAAAACAAAAAQDAAAHZn4AAAAAAAgA
	AAAEAwAAvhNQAQAAAAAIAAAABAMAAOwiUQEAAAAAHAAAAAEGAACwAAAAwAAAANAAAADg
	AAAA8AAAAAABAAAQAQAACAAAAAAEAABBuW3VmwAAABgAAAABAgAAAQAAAAAAAAAPAAAA
	AAAAAAAAAAAAAAAACAAAAAQDAAAFAAAAAAAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFj
	aW50b3NoIEhECAAAAAQDAAAAIMEMHAAAAAgAAAAABAAAQbdTgCoAAAAkAAAAAQEAAEMw
	NzRCQ0QzLUM5OEQtMzAyQi1CNUVDLTM4OEE4N0ZBNDg0NRgAAAABAgAAgQAAAAEACADv
	FwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA
	/v///wEAAAAAAAAADwAAAAQQAACMAAAAAAAAAAUQAAAgAQAAAAAAABAQAABUAQAAAAAA
	AEAQAABEAQAAAAAAAAIgAAAQAgAAAAAAABAgAACQAQAAAAAAABEgAADEAQAAAAAAABIg
	AACkAQAAAAAAABMgAAC0AQAAAAAAACAgAADwAQAAAAAAADAgAAAcAgAAAAAAAAHAAAB0
	AQAAAAAAABHAAAAUAAAAAAAAABLAAACEAQAAAAAAABDQAAAkAgAAAAAAAA==
	</data>
	<key>/Users/justin/Dropbox/courses/course_media_politics/propaganda/video_clips/Kim_Jong_Il.mp4</key>
	<data>
	Ym9va1gDAAAAAAQQMAAAACEwaDak34V+OUGQ+QLyoVZ+u/GXzdf5PNxvOZdV7TeLYAIA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAABwAAAAEBAABEcm9wYm94AAcA
	AAABAQAAY291cnNlcwAVAAAAAQEAAGNvdXJzZV9tZWRpYV9wb2xpdGljcwAAAAoAAAAB
	AQAAcHJvcGFnYW5kYQAACwAAAAEBAAB2aWRlb19jbGlwcwAPAAAAAQEAAEtpbV9Kb25n
	X0lsLm1wNAAgAAAAAQYAAAQAAAAUAAAAJAAAADQAAABEAAAAZAAAAHgAAACMAAAACAAA
	AAQDAAApEgIAAAAAAAgAAAAEAwAAtMAFAAAAAAAIAAAABAMAAKIABgAAAAAACAAAAAQD
	AAB49nwAAAAAAAgAAAAEAwAAB2Z+AAAAAAAIAAAABAMAAL4TUAEAAAAACAAAAAQDAAAV
	ilABAAAAAAgAAAAEAwAAsolQAQAAAAAgAAAAAQYAAMwAAADcAAAA7AAAAPwAAAAMAQAA
	HAEAACwBAAA8AQAACAAAAAAEAABBuW3PVwAAABgAAAABAgAAAQAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAACAAAAAQDAAAGAAAAAAAAAAQAAAADAwAA9QEAAAwAAAABAQAATWFjaW50
	b3NoIEhECAAAAAQDAAAAIMEMHAAAAAgAAAAABAAAQbdTgCoAAAAkAAAAAQEAAEMwNzRC
	Q0QzLUM5OEQtMzAyQi1CNUVDLTM4OEE4N0ZBNDg0NRgAAAABAgAAgQAAAAEACADvFwAA
	AQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAAAEAAAAAwMAAAAIACjAAAAA/v//
	/wEAAAAAAAAADwAAAAQQAACkAAAAAAAAAAUQAABMAQAAAAAAABAQAACEAQAAAAAAAEAQ
	AAB0AQAAAAAAAAIgAABAAgAAAAAAABAgAADAAQAAAAAAABEgAAD0AQAAAAAAABIgAADU
	AQAAAAAAABMgAADkAQAAAAAAACAgAAAgAgAAAAAAADAgAABMAgAAAAAAAAHAAACkAQAA
	AAAAABHAAAAUAAAAAAAAABLAAAC0AQAAAAAAABDQAABUAgAAAAAAAA==
	</data>
	<key>/Users/justin/Dropbox/courses/course_media_politics/propaganda/video_clips/hitler.mp4</key>
	<data>
	Ym9va1QDAAAAAAQQMAAAAOB+0i0rmQ0GP9fZ8DTg+jQFgqeTCRglFBiI9WhjEIB8XAIA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAABwAAAAEBAABEcm9wYm94AAcA
	AAABAQAAY291cnNlcwAVAAAAAQEAAGNvdXJzZV9tZWRpYV9wb2xpdGljcwAAAAoAAAAB
	AQAAcHJvcGFnYW5kYQAACwAAAAEBAAB2aWRlb19jbGlwcwAKAAAAAQEAAGhpdGxlci5t
	cDQAACAAAAABBgAABAAAABQAAAAkAAAANAAAAEQAAABkAAAAeAAAAIwAAAAIAAAABAMA
	ACkSAgAAAAAACAAAAAQDAAC0wAUAAAAAAAgAAAAEAwAAogAGAAAAAAAIAAAABAMAAHj2
	fAAAAAAACAAAAAQDAAAHZn4AAAAAAAgAAAAEAwAAvhNQAQAAAAAIAAAABAMAABWKUAEA
	AAAACAAAAAQDAABgjVABAAAAACAAAAABBgAAyAAAANgAAADoAAAA+AAAAAgBAAAYAQAA
	KAEAADgBAAAIAAAAAAQAAEG5bdJTAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
	AAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAAAgwQwcAAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAAQzA3NEJDRDMt
	Qzk4RC0zMDJCLUI1RUMtMzg4QTg3RkE0ODQ1GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAA
	AAAAAAAPAAAABBAAAKAAAAAAAAAABRAAAEgBAAAAAAAAEBAAAIABAAAAAAAAQBAAAHAB
	AAAAAAAAAiAAADwCAAAAAAAAECAAALwBAAAAAAAAESAAAPABAAAAAAAAEiAAANABAAAA
	AAAAEyAAAOABAAAAAAAAICAAABwCAAAAAAAAMCAAAEgCAAAAAAAAAcAAAKABAAAAAAAA
	EcAAABQAAAAAAAAAEsAAALABAAAAAAAAENAAAFACAAAAAAAA
	</data>
	<key>/Users/justin/Dropbox/courses/course_media_politics/propaganda/video_clips/stalin.mp4</key>
	<data>
	Ym9va1QDAAAAAAQQMAAAAKqEPhQHmv+RRe6CeVYiolJr4MR7IN5mbPMoYtLbXbKYXAIA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAABwAAAAEBAABEcm9wYm94AAcA
	AAABAQAAY291cnNlcwAVAAAAAQEAAGNvdXJzZV9tZWRpYV9wb2xpdGljcwAAAAoAAAAB
	AQAAcHJvcGFnYW5kYQAACwAAAAEBAAB2aWRlb19jbGlwcwAKAAAAAQEAAHN0YWxpbi5t
	cDQAACAAAAABBgAABAAAABQAAAAkAAAANAAAAEQAAABkAAAAeAAAAIwAAAAIAAAABAMA
	ACkSAgAAAAAACAAAAAQDAAC0wAUAAAAAAAgAAAAEAwAAogAGAAAAAAAIAAAABAMAAHj2
	fAAAAAAACAAAAAQDAAAHZn4AAAAAAAgAAAAEAwAAvhNQAQAAAAAIAAAABAMAABWKUAEA
	AAAACAAAAAQDAADsIlEBAAAAACAAAAABBgAAyAAAANgAAADoAAAA+AAAAAgBAAAYAQAA
	KAEAADgBAAAIAAAAAAQAAEG5bdWbAAAAGAAAAAECAAABAAAAAAAAAA8AAAAAAAAAAAAA
	AAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEBAABNYWNpbnRvc2gg
	SEQIAAAABAMAAAAgwQwcAAAACAAAAAAEAABBt1OAKgAAACQAAAABAQAAQzA3NEJDRDMt
	Qzk4RC0zMDJCLUI1RUMtMzg4QTg3RkE0ODQ1GAAAAAECAACBAAAAAQAIAO8XAAABAAgA
	AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgAKMAAAAD+////AQAA
	AAAAAAAPAAAABBAAAKAAAAAAAAAABRAAAEgBAAAAAAAAEBAAAIABAAAAAAAAQBAAAHAB
	AAAAAAAAAiAAADwCAAAAAAAAECAAALwBAAAAAAAAESAAAPABAAAAAAAAEiAAANABAAAA
	AAAAEyAAAOABAAAAAAAAICAAABwCAAAAAAAAMCAAAEgCAAAAAAAAAcAAAKABAAAAAAAA
	EcAAABQAAAAAAAAAEsAAALABAAAAAAAAENAAAFACAAAAAAAA
	</data>
	<key>/Users/justin/Dropbox/courses/course_media_politics/propaganda/video_clips/us_anti-german_video.mp4</key>
	<data>
	Ym9va2ADAAAAAAQQMAAAANLcd7rRfKUndk0OX2Vf6yFtR8ySIK1+z60Z4SxM1A/CaAIA
	AAUAAAABAQAAVXNlcnMAAAAGAAAAAQEAAGp1c3RpbgAABwAAAAEBAABEcm9wYm94AAcA
	AAABAQAAY291cnNlcwAVAAAAAQEAAGNvdXJzZV9tZWRpYV9wb2xpdGljcwAAAAoAAAAB
	AQAAcHJvcGFnYW5kYQAACwAAAAEBAAB2aWRlb19jbGlwcwAYAAAAAQEAAHVzX2FudGkt
	Z2VybWFuX3ZpZGVvLm1wNCAAAAABBgAABAAAABQAAAAkAAAANAAAAEQAAABkAAAAeAAA
	AIwAAAAIAAAABAMAACkSAgAAAAAACAAAAAQDAAC0wAUAAAAAAAgAAAAEAwAAogAGAAAA
	AAAIAAAABAMAAHj2fAAAAAAACAAAAAQDAAAHZn4AAAAAAAgAAAAEAwAAvhNQAQAAAAAI
	AAAABAMAABWKUAEAAAAACAAAAAQDAADBeVEBAAAAACAAAAABBgAA1AAAAOQAAAD0AAAA
	BAEAABQBAAAkAQAANAEAAEQBAAAIAAAAAAQAAEG5bdg+AAAAGAAAAAECAAABAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAYAAAAAAAAABAAAAAMDAAD1AQAADAAAAAEB
	AABNYWNpbnRvc2ggSEQIAAAABAMAAAAgwQwcAAAACAAAAAAEAABBt1OAKgAAACQAAAAB
	AQAAQzA3NEJDRDMtQzk4RC0zMDJCLUI1RUMtMzg4QTg3RkE0ODQ1GAAAAAECAACBAAAA
	AQAIAO8XAAABAAgAAAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAAQAAAADAwAAAAgA
	KMAAAAD+////AQAAAAAAAAAPAAAABBAAAKwAAAAAAAAABRAAAFQBAAAAAAAAEBAAAIwB
	AAAAAAAAQBAAAHwBAAAAAAAAAiAAAEgCAAAAAAAAECAAAMgBAAAAAAAAESAAAPwBAAAA
	AAAAEiAAANwBAAAAAAAAEyAAAOwBAAAAAAAAICAAACgCAAAAAAAAMCAAAFQCAAAAAAAA
	AcAAAKwBAAAAAAAAEcAAABQAAAAAAAAAEsAAALwBAAAAAAAAENAAAFwCAAAAAAAA
	</data>
</dict>
</plist>
